/* General */
body {
    /* Typography */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    /* Visual */
    color: #000;
}

*,
*::after,
*::before {
    /* Box-model */
    box-sizing: border-box;
}

h1 {
    /* Typography */
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1;
    /* Box-model */
    margin-bottom: 6px;
}

h2 {
    /* Typography */
    font-size: 24px;
    font-weight: 700;
    /* Box-model */
    margin-bottom: 23px;
}
h3 {
    /* Typography */
    font-size: 18px;
    font-weight: 700;
    /* Box-model */
    margin-bottom: 13px;
}

ul { padding-left: 18px; }

li {
    /* Visual */
    list-style-type: circle;
    /* Box-model */
    margin-bottom: 7px;
}

/* Container */
.container {
    padding:0;
    /* Positioning */
    display: flex;
    flex-flow: row nowrap;
    /* Box-model */
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* Sidebar */
aside {
    /* Box-model */
    width: 100%;
    max-width: 320px;

    /* Positioning */
    position: fixed;
    overflow: auto;
}

aside ul { padding-left: 0; }

aside li { list-style-type: none; }


figure {
    /* Box-model */
    padding: 32px 55px 22px 55px;
    border-bottom: 5px solid black;
}

picture {
    /* Box-model */
    display:block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 18px;
    /* Positioning */
    position: relative;
    overflow: hidden;
}

picture img {
    /* Positioning */
    position: absolute;
    top: 47%;
    left:55%;
    /* Misc */
    transform: translate(-50%,-50%) scale(0.19)
}

.personal-data { padding: 32px 0 0 55px; }

.personal-data article { margin-bottom: 32px; }

.contacts {
    /* Positioning */
    display: flex;
    flex-direction: column;
}

.contacts a {
    /* Typography */
    font-weight: 700;
    /* Visual */
    color: #000;
    /* Misc */
    transition: all .1s linear;
}

.contacts a:hover,
.contacts a:focus,
.contacts a:active {
    /* Typography */
    font-weight: 700;
    /* Visual */
    color: #fe587a;
    text-decoration: line-through;
    outline: none;
}

/* Main */
main {
    /* Box-model */
    width: 100%;
    max-width: 1000px;

    position: relative;
    overflow: hidden;

    border: 5px solid black;
}

main article { margin-bottom: 70px; }

.personal__info{
    margin-left: 320px;
    padding: 65px 75px 75px 80px;

    border-left: 5px solid black;

}

/* Tech skills */
.tech-skills { margin-bottom: 40px; }

.tech-skills article { margin-bottom: 23px; }

.tech-skills_list {
    /* Positioning */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* Box-model */
    padding-left: 0;
}

.tech-skills_list li {
    /* Visual */
    list-style-type: none;
    /* Box-model */
    min-width: 100px;
    text-align: center;
    border-radius: 8px;
    padding: 5px 10px 4px;
    margin-right: 10px;
}

.tag_color-1{ background-color: #b2e98d; }

.tag_color-2{ background-color: #FFD480; }

.tag_color-3{ background-color: #FFADCB; }
   
.tag_color-4{ background-color: #ADBAFF; }

.tag_color-5{ background-color: #ff9a47; }

.tag_color-6{ background-color: #fc5959; }

.tag_color-7{ background-color: #65cfca; }

/* Code examples */
.code-examples_list {
    /* Positioning */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* Box-model */
    padding-left: 0;
}

.code-examples_list li{
    /* Visual */
    list-style-type: none;
}
.code-examples_list a {
    /* Box-model */
    display: block;
    min-width: 100px;
    text-align: center;
    border-radius: 8px;
    padding: 5px 10px 4px;
    margin-right: 10px;
    /* Visual */
    text-decoration: none;
    color: black;
    /* Misc */
    transition: all .1s linear;
} 

.code-examples_list a:hover,
.code-examples_list a:focus,
.code-examples_list a:active{
    /* Visual */
    background-color: #e4e4e4;
    outline: none;
    /* Misc */
    transform: translate(1px,2px);
}  

/*Soft skills */
.soft-skills { margin-bottom: 30px; }

.soft-skills_items {
    /* Positioning */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.soft-skills_items article {
    /* Box-model */
    width: 230px;
    margin-bottom: 40px;
} 


/* Work exerience */

.education { margin-bottom: 46px; }

.work-experience article{ margin-bottom: 80px;}

.header-flex {
    /* Positioning */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    /* Box-model */
    margin-bottom: 23px;
}

.header-flex div { max-width: 60%; }

.employer-link {
    /* Typography */
    font-size: 18px;
    font-weight: 700;
    /* Visual */
    color:#000;
    /* Misc */
    transition: all .1s linear;
}

.employer-link:hover,
.employer-link:focus,
.employer-link:active {
    /* Visual */
    color:rgb(255, 102, 0);
    text-decoration: line-through;
    outline: none;
}

.header-flex h3 { margin-bottom: 5px; }

/* Education */
.education-flex {
    /* Positioning */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* Box-model */
    margin-bottom: 30px;
}

.education-flex h3 { margin-bottom: 5px; }

/* Books */

.books-item_link{
    /* Box-model */
    margin-bottom: 5px;
    /* Visual */
    color:#000;
    /* Misc */
    transition: all .1s linear;
}

.books-item_link:hover, 
.books-item_link:focus,
.books-item_link:active {
    /* Visual */
    color:rgb(30, 33, 252);
    text-decoration: line-through;
    outline: none;
}

.books article { margin-bottom: 16px; }

.books article:last-child { margin-bottom: 0; }
